:root {
    --primary-color:#fff;
    --secondary-color:#000;
    --first:#d1e7dd;
    --second:#055160;
    --third:#cdcde6;
    --four:#b4eed4;
    --primary-color:rgb(12, 12, 12);
    --card-border-redius: 7px;
    --card-title-color: rgb(23, 148, 19);
    --card-category-color: seagreen;
    --login-signup-color: #162938;
    --first-color: #d1e7dd;
    --second-color: #ced4da;
    --three-color: #9f9dba;
    --four-color: #6e4c6c;
    --five-color: #7f678e;
    --six-color: #198754;
    --seven-color: #6f42c7;
    --eight-color: #664d03;
    --nine-color: #055160;
    --ten-color: #969faf;
    --eleven-color: #cdcde6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: var(--ten-color);
}
.log{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background-position: center;
}
header {
    background-image: url('../images/Slay.jpeg'); 
    background-size: cover;
    background-position: center;
    color: var(--nine-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 36px;
    font-weight: bold;
    color: var(--first-color);
}

.logo img {
    width: 60px;
    border-radius: 50%;
}
.btn-login {
    padding: 5px 20px;
    border-radius: 6px;
    background-color: var(--nine-color);
    color: var(--first-color);
}

.btn-login:hover {
    background-color: var(--first-color); 
    color: var(--nine-color);
}

.toggle-btn {
    padding: 10px;
    color: var(--first-color);
    background-color: var(--nine-color);
    border-radius: 6px;
}

/* Style for the side navigation bar */
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--second-color);
    color: var(--eight-color);
    overflow-x: hidden;
    transition: 0.4s ease; 
    padding-top: 60px;
    z-index: 1000; 
    box-shadow: -3px 0 8px var(--ten-color); 
}

/* Opened sidebar */
.side-nav.side-nav-open {
    width: 150px;
}

/* Menu Items */
.side-nav ul {
    list-style: none;
    padding: 0;
}

.side-nav ul li {
    margin: 20px 0;
    text-align: center;
}

.side-nav ul li a {
    display: block;
    padding: 10px;
    font-size: 1.2rem;
    color: var(--nine-color);
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for menu items */
.side-nav ul li a:hover {
    background-color: var(--first-color); 
    color: var(--four-color);
    border-radius: 5px;
}

.side-nav ul li a i {
    margin-right: 10px; 
    font-size: 1.2rem;  
    vertical-align: middle; 
}
/* Book types list hidden */
.hidden {
    display: none;
}
/* Close button styling */
.close-btn {
    bottom: 20px;
    right: 10px;
    padding: 10px;
    background-color: var(--ten-color);
    color: var(--six-color);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.close-btn:hover {
    background-color: red;
    color: var(--first-color);
}

/* Responsive Styling */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center; 
    }

    .logo {
        font-size: 28px;
        text-align: center; 
    }

    .logo img {
        width: 50px;
    }

    .search-bar {
        width: 100%; 
        display: flex;
        justify-content: center; 
        margin-top: 10px;
    }

    .search-bar input {
        width: 60%; 
        max-width: 300px; 
    }

    .toggle-btn {
        margin-top: 10px;
        padding: 8px;
        align-self: center; 
    }

    .side-nav.side-nav-open {
        width: 100%;
    }

    .side-nav ul li a {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 24px;
        text-align: center; 
    }

    .search-bar {
        margin-top: 10px;
    }

    .search-bar input {
        width: 70%; 
        max-width: 250px; 
    }

    .toggle-btn {
        padding: 6px;
        align-self: center; 
        margin-top: 10px;
    }

    .search-bar button {
        padding: 6px 8px;
    }
}

.property {
    width: 100%;
    margin: auto;
    margin-top: 70px;
    border-radius: 20%;
}
.slideshow {
    background: #262626;
    border-radius: 4px;
    margin-bottom: 20px;
    position: relative;
}
.slideshow-item {
    position: absolute;
    /* top: 0; */
    /* bottom: 0; */
    padding: 10px;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.slideshow-item img {
    width: 600px;
    height: 400px;
    display: block;
    margin: auto;
}
.arrow-next {
    right: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}
/* .play {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 20px;
    margin-bottom: 20px;
    padding: 8px 16px;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e6e6e6));
    background: linear-gradient(white, #e6e6e6);
    font-family: sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 4px;
    color: #333;
    border: 1px solid #1a1a1a;
    opacity: .3;
    z-index: 5;
    cursor: default;
    -webkit-transition: all 750ms ease;
    transition: all 750ms ease;
} */
[id^="target"]:target ~ .play {
    -webkit-transition: all 750ms ease;
    transition: all 750ms ease;
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  }
   
  [id^="target"] {
    display: none;
  }
  .item-1 {
    z-index: 2;
    opacity: 1;
  }
   
  *:target ~ .item-1 {
    opacity: 0;
  }
   
  #target-1:target ~ .item-1 {
    opacity: 1;
  }
   
  #target-2:target ~ .item-2,
  #target-3:target ~ .item-3,
  #target-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
}
@-webkit-keyframes slideshow {
    0%, 30%, 100% {
      opacity: 0;
    }
    5%, 25% {
      opacity: 1;
    }
  }
   
  @keyframes slideshow {
    0%, 30%, 100% {
      opacity: 0;
    }
    5%, 25% {
      opacity: 1;
    }
}
.item-1 {
    -webkit-animation: slideshow 16s ease 0s infinite;
            animation: slideshow 16s ease 0s infinite;
  }
  .item-2 {
    -webkit-animation: slideshow 16s ease 4s infinite;
            animation: slideshow 16s ease 4s infinite;
  }
  .item-3 {
    -webkit-animation: slideshow 16s ease 8s infinite;
            animation: slideshow 16s ease 8s infinite;
  }
  .item-4 {
    -webkit-animation: slideshow 16s ease 12s infinite;
            animation: slideshow 16s ease 12s infinite;
}
#target-1:target ~ .item-1 {
    opacity: 1 !important;
    -webkit-animation: none;
            animation: none;
  }
  #target-1:target ~ .item-2, #target-1:target ~ .item-3, #target-1:target ~ .item-4 {
    opacity: 0;
    -webkit-animation: none;
            animation: none;
  }
   
  #target-2:target ~ .item-2 {
    opacity: 1 !important;
    -webkit-animation: none;
            animation: none;
  }
  #target-2:target ~ .item-1, #target-2:target ~ .item-3, #target-2:target ~ .item-4 {
    opacity: 0;
    -webkit-animation: none;
            animation: none;
}
#target-3:target ~ .item-3 {
    opacity: 1 !important;
    -webkit-animation: none;
            animation: none;
  }
  #target-3:target ~ .item-1, #target-3:target ~ .item-2, #target-3:target ~ .item-4 {
    opacity: 0;
    -webkit-animation: none;
            animation: none;
  }
   
  #target-4:target ~ .item-4 {
    opacity: 1 !important;
    -webkit-animation: none;
            animation: none;
  }
  #target-4:target ~ .item-1, #target-4:target ~ .item-2, #target-4:target ~ .item-3 {
    opacity: 0;
    -webkit-animation: none;
            animation: none;
}

/* Footer */
footer {
    /* background-color: #2c3e50;*/
    background-image: url('../images/Slay.jpeg');
    background-size: cover;
    background-position: center;
    color: var(--nine-color);
    padding: 20px 0;
    text-align: center;
    margin-top: 70px;
}

.footer-content {
    margin-bottom: 15px;
}

.footer-content h3 {
    margin: 0;
}

.footer-content p {
    margin: 5px 0 15px;
    color: var(--first-color);
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline;
    margin: 0 10px;
}

.socials a {
    color: white;
    text-decoration: none;
}

.socials a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #34495e;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
}
/* page-name */
.page-name{
    color: var(--first);
}





/* login/signup css  */
/* .show-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
} */
.wrapper.active-popup{
    transform: scale(1);

}

.wrapper{
    margin: 100px;
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: height .2s ease;
}
.wrapper.active{
    height: 520px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
 

.wrapper.active  .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.login{
    transition: transform .18s  ease;
    transform: translateX(0);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper .icon-close{
    position: absolute;
    top: 0  ;
    right: 0;
    width: 45px;
    height: 45px;
    background: var(--login-signup-color);
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: start;
    border-bottom-left-radius: 20px;
    z-index: 1;
    cursor: pointer;
}
.form-box h2{
    font-size: 2em;
    color: var(--login-signup-color);
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--login-signup-color);
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: var(--login-signup-color);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--login-signup-color);
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: var(--login-signup-color);
    line-height: 57px;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.btnn{
    margin-top: 25px;
    width: 100%;
    height: 45px;
    background: var(--login-signup-color);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: var(--second-color);
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: var(--login-signup-color);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color:  var(--login-signup-color);
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}/* login/sign up */

/* readmore */
.readMore{
    margin-left: 4px;
    cursor: pointer;
}